<main>
  main
  <img width="600" class="img" src="@img/sea.jpg" alt="" />
  <span
    >Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dicta,
    maxime repudiandae, nisi enim possimus quibusdam iure non, dolore sapiente
    expedita! Consequatur iure neque illum fuga ullam possimus. Perspiciatis
    reiciendis, commodi consequuntur, ut rerum in earum soluta laborum eligendi
    eius porro fugiat iusto quod dolorem voluptates magni aspernatur incidunt
    facilis!</span
  >
</main>
